<footer class="pt-4 pb-2">
    <div class="rodape">
        <div class="row">
            <div class="col-md-4">
                <h5>Endereço</h5>
                <p>Rua Exemplo, 123 - Bairro, Cidade, Estado</p>
            </div>
            <div class="col-md-4">
                <h5>Fale Conosco</h5>
                <p>(11) 1234-5678</p>
                <p>contato@cozinhadavo.com.br</p>
            </div>
            <div class="col-md-4">
                <h5>Redes Sociais</h5>
                <div class="social-icons">
                    <a href="#" target="_blank" class="social-icon">
                        <img src="../assets/images/facebook.png" alt="Facebook" class="social-icon-img">
                    </a>
                    <a href="#" target="_blank" class="social-icon">
                        <img src="../assets/images/instagram.png" alt="Instagram" class="social-icon-img">
                    </a>
                    <a href="#" target="_blank" class="social-icon">
                        <img src="../assets/images/linkedin.png" alt="LinkedIn" class="social-icon-img">
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center pt-3">
            <small>&copy; 2025 Cozinha da Vó. Todos os direitos reservados.</small>
        </div>
    </div>
</footer>